<!-- Page Header -->
<header class="masthead" style="background-image: url(<%= image_path("contact.jpg") %>)">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 mx-auto">
        <div class="page-heading">
          <h1>Contact Me</h1>
          <span class="subheading">Have questions? I have answers.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 mx-auto">
      <p>Want to get in touch? Send me an email at elenamariehopkins@gmail.com and I will get back to you as soon as possible!</p>
    </div>
  </div>
</div>

<hr>
