<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <%= link_to "https://www.linkedin.com/in/elena-hopkins-3333a6aa/" do %>
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
        	<% end %>
          </li>
          <li class="list-inline-item">
            <%= link_to "https://github.com/emhopkins" do %>
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
        	<% end %>
          </li>
        </ul>
        <p class="copyright text-muted">Copyright &copy; Elena Hopkins 2018</p>
      </div>
    </div>
  </div>
</footer>